.footer {
  margin-top: 10rem;
  padding-bottom: 10rem;

  &__lists {
    margin-top: 2rem;

    a {
      display: inline-block;
      margin-bottom: 1rem;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: calc(100% - 2px);
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
        transition: 0.2s;
      }

      &:hover:after {
        width: 90%;
      }
    }
  }

  h3 {
    margin-bottom: 2rem;
    font-weight: 600;
  }

  ul {
    flex-direction: column;
  }
}

@media (max-width: 568px) {
  .footer {
    margin-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 2rem;
    }
  }
}
