.projects {
  display: flex;
  height: 100vh;
  position: relative;
  margin-top: 10rem;
  justify-content: center;

  @media (max-width: 568px) {
    height: 50vh;
  }

  a {
    cursor: none;
  }

  &__left {
    width: 100%;
    position: relative;
    background: #f7f7f7;

    &-slider {
      display: flex;
      flex-wrap: nowrap;
      max-width: 600px;
      position: relative;

      @media (max-width: 568px) {
        max-width: 300px;
      }

      &-wrapper {
        position: absolute;
        overflow: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &-control {
        margin-top: 1rem;
        @include flex(space-between, center);

        div {
          width: 100px;

          &:nth-child(2) {
            text-align: center;
          }

          a {
            display: block;
            width: 100%;
          }

          .next {
            text-align: right;
          }
        }
      }
    }

    &-slide {
      min-width: 600px;

      @media (max-width: 568px) {
        min-width: 300px;
      }
    }
  }

  &__right {
    width: 100%;

    @media (max-width: 568px) {
      display: none;
    }

    &-slider {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      position: relative;
      height: 100%;

      &-wrapper {
        overflow: hidden;
        height: 100%;
      }
    }

    &-slide {
      min-width: 100%;
      background-size: cover;
    }
  }
}
