@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.title {
  margin: 5rem 0;
  display: inline-block;
  position: relative;
  font-weight: 600;
}

.floating__title {
  position: absolute;
  z-index: 2;
  max-width: 1440px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(-50%);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1400px) {
    max-width: 1200px;
  }
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

@media (max-width: 568px) {
  .floating__title {
    padding: 0 1rem;
  }

  .title {
    font-size: 2rem;
  }
}
